
@{
    ViewBag.Title = "";
}

<h2></h2>

<br />
<br />
<div class="row container">
    <div class="panel-body alert-info">
        <div class="col-lg-5 ">


            @Html.Label("User Name    :", new { @class = " control-label" })  Malith De Silva

            <br />

            @Html.Label("Destination  :", new { @class = " control-label" })  Software Engineer
            <br />

            @Html.Label("Interest         :", new { @class = " control-label" })  C# , . Net

            <br />

            @Html.Label("Projects         :", new { @class = " control-label" })  MC , COOR


            <br />

            @Html.Label("Follows         :", new { @class = " control-label" })  ABC ,

        </div>

        <div class="col-lg-4">
            <img src="~/image/IMG-20160412-WA0003.jpg" width="150" height="150" />
        </div>

        <div class="col-lg-2">

            <input type="submit" class="btn btn-primary" value="View Profile" />

        </div>

    </div>
    

</div>
